[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/custom/plugins/zsh-completions"]
	path = zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/custom/plugins/per-directory-history"]
	path = zsh/custom/plugins/per-directory-history
	url = https://github.com/jimhester/per-directory-history
